.mainBody {
	margin-top: 10px;
}

.card .text,
.card.talents .body > *:first-child {
	padding: 10px
}

.card.careerSkills .body > *:first-child {
	padding-top: 10px;
	padding-bottom: 10px;
}

.talent .body {
	padding: 5px;
}

.career {
	height: 535px;
}

.career .description .body,
.career .careerSkills .body,
.career .specializations {
	max-height: 300px;
	overflow-y: auto;
}

.talents > .body {
	margin-top: 10px;
	max-height: 550px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.talents > .body .left,
.talents > .body .right,
.talents > .body .top,
.talents > .body .bottom {
	background: black;
	position: absolute;
	content: '';
}

.talents > .body .left {	
	left: -15px;
	top: 50%;
	height: 5px;
	width: 30px;
}

.talents > .body .right {
	left: 100%;
	top: 50%;
	height: 5px;
	width: 30px;
}

.talents > .body .top {	
	left: 50%;
	top: -50px;
	height: 50px;
	width: 5px;
}

.talents > .body .bottom {	
	left: 50%;
	top: 100%;
	height: 50px;
	width: 5px;
}

.talents .rowCol,
.talents .connections {
	display: none;
}

@media (max-width: 768px) {
	.left,
	.right,
	.top,
	.bottom {
		display: none;
	}

	.talents .rowCol {
		display: initial;
	}

	.talents .connections {
		display: initial;
	}

	.card-header {
		display: flex;
		text-align: center;
	}

	.card-header > span {
		flex: 0;
	}

	.card-header .connections {
		flex: 1;
	}
}

.talent > .header {
	background-color: #5E110F;
	color: white;
}

.talent.passive > .header {
	background-color: #261a2c;
}


